@import "../../../../../assets/scss/variables";
.card {
  font-family: $font-quicksand;
  .card-body {
    h5 {
      font-family: $font-quicksand-Bold;
    }
  }
  ul {
    list-style: none;
    li {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}